<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form action="/" method="POST">
    <textarea name="txt">
	<%= txt %>
    </textarea>
    <input type="submit">
    </form>
    
    <% if( typeof result != 'undefined' ) { 
	for(var i in result){
	%>
	<div>
	    <a target=_blank class="ids" href="/get?id=<%= result[i].id %>"><%= result[i].id %></a>
	    <span><%= result[i].weight %></span>
	</div>
	
    <% }} %>
  </body>
</html>